[submodule "monero"]
	path = monero
	url = https://github.com/monero-project/monero
[submodule "electronero"]
	path = electronero
	url = https://github.com/electronero/electronero
	branch = release
[submodule "electroneropulse"]
	path = electroneropulse
	url = https://github.com/electronero-pulse/electroneropulse
	branch = release
